@if (charactersQuery.isLoading()) {
<p>Loading...</p>
} @else {
<div class="gap-10 flex flex-wrap items-center justify-center p-5">
  @for (character of charactersQuery.data(); track character.id) {
  <section class="flex flex-col items-center justify-center">
    <figure
      class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
    >
      <a [routerLink]="[character.id]">
        <img class="h-60" [src]="character.image" [alt]="character.name" />
      </a>
    </figure>
    <h2 class="text-2xl font-bold text-slate-500">{{ character.name }}</h2>
  </section>
  }
</div>
}
