<main>
  @if (characterByIdQuery.isLoading()) {
  <h1>Loading...</h1>
  } @else { @let character = characterByIdQuery.data()!;
  <section class="flex flex-col items-center justify-center gap-y-5">
    <figure>
      <img class="h-60" [src]="character.image" [alt]="character.name" />
      <figcaption class="mt-2 text-sm text-center">
        {{ character.name }}
      </figcaption>
    </figure>
    <article class="flex w-1/2 justify-center items-center text-pretty">
      {{ character.description }}
    </article>
    <article class="flex flex-wrap items-center justify-center gap-4">
      <h1>{{ character.gender }}</h1>
      <h1>{{ character.ki }}</h1>
      <h1>{{ character.maxKi }}</h1>
      <h1>{{ character.race }}</h1>
      <h1>{{ character.affiliation }}</h1>
    </article>
  </section>

  <hr />
  <section
    class="w-full flex flex-col md:flex-row items-center justify-start gap-4 p-2"
  >
    <figure class="flex flex-col items-center justify-center">
      <img
        [src]="character.originPlanet.image"
        class="h-auto max-w-xs rounded-md"
      />
      <figcaption class="flex gap-4">
        <p>{{ character.originPlanet.name }}</p>
        <p>{{ character.originPlanet.isDestroyed }}</p>
        <p>{{ character.originPlanet.deletedAt }}</p>
      </figcaption>
    </figure>
    <p>{{ character.originPlanet.description }}</p>
  </section>
  <hr />
  @if (character.transformations) {
  <div class="flex flex-wrap items-center justify-center gap-5">
    @for (transformation of character.transformations; track transformation.id)
    {
    <div class="flex flex-col">
      <h1>{{ transformation.name }}</h1>
      <h1>{{ transformation.ki }}</h1>
      <img [src]="transformation.image" class="h-60" />
    </div>
    }
  </div>
  } }
</main>
